/* Admin map preview containers */
#jvectordiv-edit-preview,
#jvectordiv-edit-vectorselect {
    height: 400px;
    width: 100%;
    z-index: -100;
}

/* Color buttons */
.jvector-color-select .form-color{
    /*display: inline;*/
    min-height: 40px;
    width: 40px;
}

.jvector-color-select .form-type-color {
    display:  inline-flex;
}

.form-color {
    padding-bottom:25px;
    margin-bottom: 25px;
}

/* The selected color item*/
.current-color .form-type-color {
    background: #eeeeee url("/core/misc/message-24-ok.png") no-repeat bottom center;
    border: 1px solid darkgrey;
}

.form-type-color {
    border:1px solid white;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) { {

}
    /* Styles */
    .jvector-process {
        display: block !important;
    }
    .jvectormap-container {
        display: none !important;
    }
}

.jvector-process {
    display:none;
}

.jvector-container {
    height: 400px;
    width: 100%;
    z-index: -100;
}